
:root {
   --clr-green: #2b9872;
   --clr-gray:  rgb(51, 46, 46);
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#content {
    width: 100%;
    height: 100%;
}
#content > nav {
    position: relative;
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    z-index: 1;
    margin: 1rem 0;
}
#content > nav a {
    text-decoration: none;
    color: var(--clr-gray);
}
#content > nav a.current-page {
    text-decoration: underline;
    text-decoration-color: var(--clr-green);
    text-underline-offset: 0.5rem;
    text-decoration-thickness: 0.15rem;
}
#content > nav a:hover {
    text-decoration: underline;
    text-decoration-color: var(--clr-green);
    text-underline-offset: 0.5rem;
    text-decoration-thickness: 0.15rem;
}
header {
    background-image: url(../pics/header-img.jpg);
    object-fit: contain;
    width: 100%;
    height:20vh;
    background-size: 100% 45vw;
    background-repeat: no-repeat;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
   
    z-index: 0;
}
header > p {
    margin: 0;
    color: var(--clr-gray);
    box-shadow: -2px 2px 10px 0px rgb(105, 104, 104);
    border: none;
    font-size: xx-large;
    padding: 0.5rem 1rem;
}
#content .wavy-svg {
    transform: translateY(-110%);
   
}
.home-section .under-header-txt {
   margin: 1rem 0;
   text-align: center;
   text-transform: capitalize;
   text-decoration: underline;
   text-decoration-color: var(--clr-green);
   text-underline-offset: 0.5rem;
   text-decoration-thickness: 0.15rem;
   color: var(--clr-gray);
   line-height: 2;
}
.home-section .img-flex {
    display: flex;
   flex-wrap: wrap;
   flex-basis: auto;
   justify-content: center;
   gap: 0.5rem;
   padding: 1rem;
}
.home-section .img-flex img {
    max-width: 100%;
    width: min(25%, 400px);
    height: auto;
    object-fit: cover;
}
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 0.5rem;
    margin-top: 1rem;
    padding: 0.5rem;
    box-shadow: 0 -2px 10px 0 var(--clr-gray);
}
footer a {
    color: var(--clr-gray);
    text-decoration: none;

}
